@(title: String)

@main(title) {
  <h1>@title</h1>
  <a class="biglink" target="_blank" href="https://www.youtube.com/watch?v=qknhVaq4WQU">Freedom of Movement / Bewegungsfreiheit / Свобода Движения</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="https://www.youtube.com/watch?v=FVhjBPS9IkY">Agility of Movement / Geschicklichkeit der Bewegung / Ловкость Движения</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="https://www.youtube.com/watch?v=6Kd499wwblw">Fortbewegung / Locomotion / Локомоция / Locomozione</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="https://www.youtube.com/watch?v=0oCpk6Nh1lo">Сила Движения / Force of Movement / Bewegungskraft</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="https://vimeo.com/antongalaev">Also available on Vimeo!</a>
  <br>
  <br>
}
