@(message: String)

@main(message) {
  <div class="biglink">
    <a href="/paintings">Paintings!</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="biglink">
    <a href="/poetry">Poetry!</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="biglink">
    <a href="/cinema">Cinema!</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="biglink">
    <a href="http://sunraysradio.com" target="_blank">Sun Rays Radio!</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="biglink">
    <a href="/contacts">Contacts</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="smalllink">
    <a href="/click">Click Here</a>
  </div>
}
