@(title: String)

@main(title) {
<h1>@title</h1>
<img title="The Holy Trinity Of Infra Reality" src="@routes.Assets.versioned("images/the_holy_trinity_of_infra_reality.jpg")" loading="lazy">
<img title="Colour Stripes" src="@routes.Assets.versioned("images/colour_stripes.jpg")" loading="lazy">
<img title="A Door To The Sky" src="@routes.Assets.versioned("images/a_door_to_the_sky.jpg")" loading="lazy">
<img title="A Horse" src="@routes.Assets.versioned("images/a_horse.jpg")" loading="lazy">
<img title="And Something With A Big Red Sun" src="@routes.Assets.versioned("images/and_something_with_a_big_red_sun.jpg")" loading="lazy">
<img title="And The World Spins" src="@routes.Assets.versioned("images/and_the_world_spins.jpg")" loading="lazy">
<img title="Green Taiga" src="@routes.Assets.versioned("images/green_taiga.jpg")" loading="lazy">
<img title="The Big Bang" src="@routes.Assets.versioned("images/the_big_bang.jpg")" loading="lazy">
<img title="9 11" src="@routes.Assets.versioned("images/9_11.jpg")" loading="lazy">
<img title="Flagship Of The Nations Friendship" src="@routes.Assets.versioned("images/flagship_of_the_nations_friendship.jpg")" loading="lazy">
<img title="People Are People" src="@routes.Assets.versioned("images/people_are_people.jpg")" loading="lazy">
<img title="Flag Of Mauritius" src="@routes.Assets.versioned("images/flag_of_mauritius.jpg")" loading="lazy">
<img title="Flagship Of My Kitchen World" src="@routes.Assets.versioned("images/flagship_of_my_kitchen_world.jpg")" loading="lazy">
<img title="Beautiful And Interesting Map" src="@routes.Assets.versioned("images/beautiful_and_interesting_map.jpg")" loading="lazy">
<img title="Big Black Holes In Big Blue Sky" src="@routes.Assets.versioned("images/big_black_holes_in_big_blue_sky.jpg")" loading="lazy">
<img title="Black Holes In Blue Sky" src="@routes.Assets.versioned("images/black_holes_in_blue_sky.jpg")" loading="lazy">
<img title="Sun Rays Radio On Air" src="@routes.Assets.versioned("images/sunraysradio_onair.jpg")" loading="lazy">
<img title="Palette #1" src="@routes.Assets.versioned("images/palette_nr_1.jpg")" loading="lazy">
<img title="Upside Down" src="@routes.Assets.versioned("images/upside_down.jpg")" loading="lazy">
<img title="Upside Down 2" src="@routes.Assets.versioned("images/upside_down_2.jpg")" loading="lazy">
<img title="Mr Prishvin's River Mountain Valley" src="@routes.Assets.versioned("images/mr_prishvins_river_mountain_valley.jpg")" loading="lazy">
<img title="Sail Away" src="@routes.Assets.versioned("images/sail_away.jpg")" loading="lazy">
<img title="Modern Painting" src="@routes.Assets.versioned("images/modern_painting.jpg")" loading="lazy">
<img title="Ocean Vibes" src="@routes.Assets.versioned("images/ocean_vibes.jpg")" loading="lazy">
<img title="Funny Face" src="@routes.Assets.versioned("images/funny_face.jpg")" loading="lazy">
<img title="Sunday Coffee" src="@routes.Assets.versioned("images/sunday_coffee.jpg")" loading="lazy">
<img title="Cherepaha Pluha" src="@routes.Assets.versioned("images/cherepaha_pluha.jpg")" loading="lazy">
<img title="Kurochka Ovechka" src="@routes.Assets.versioned("images/kurochka_ovechka.jpg")" loading="lazy">
<img title="Ryba Ulyba" src="@routes.Assets.versioned("images/ryba_ulyba.jpg")" loading="lazy">
<img title="Sea Butterfly" src="@routes.Assets.versioned("images/sea_butterfly.jpg")" loading="lazy">
<img title="Fancy Cosmos" src="@routes.Assets.versioned("images/fancy_cosmos.jpg")" loading="lazy">
<img title="Flying Hat Unidentified Sombrero" src="@routes.Assets.versioned("images/flying_hat_unidentified_sombrero.jpg")" loading="lazy">
<img title="Forest Garden" src="@routes.Assets.versioned("images/forest_garden.jpg")" loading="lazy">
<img title="Forest Kisses" src="@routes.Assets.versioned("images/forest_kisses.jpg")" loading="lazy">
<img title="Sponge Bob Enface" src="@routes.Assets.versioned("images/sponge_bob_enface.jpg")" loading="lazy">
<img title="Free Exit" src="@routes.Assets.versioned("images/free_exit.jpg")" loading="lazy">
<img title="Funny Face" src="@routes.Assets.versioned("images/funny_face.jpg")" loading="lazy">
<img title="Malevich feat. Kandinsky" src="@routes.Assets.versioned("images/malevich_feat_kandinsky.jpg")" loading="lazy">
<img title="Electric Tensions" src="@routes.Assets.versioned("images/electric_tensions.jpg")" loading="lazy">
<img title="New Planet" src="@routes.Assets.versioned("images/new_planet.jpg")" loading="lazy">
<img title="Space Palm Dream" src="@routes.Assets.versioned("images/space_palm_dream.jpg")" loading="lazy">
<img title="Surface Of The Sun" src="@routes.Assets.versioned("images/surface_of_the_sun.jpg")" loading="lazy">
<img title="Ocean Flower" src="@routes.Assets.versioned("images/ocean_flower.jpg")" loading="lazy">
<img title="Green Blue" src="@routes.Assets.versioned("images/green_blue.jpg")" loading="lazy">
<img title="Ocean Galaxy" src="@routes.Assets.versioned("images/ocean_galaxy.jpg")" loading="lazy">
<img title="Ocean Path" src="@routes.Assets.versioned("images/ocean_path.jpg")" loading="lazy">
<img title="Perfect Skyline" src="@routes.Assets.versioned("images/perfect_skyline.jpg")" loading="lazy">
<img title="Red Sea White Sunset" src="@routes.Assets.versioned("images/red_sea_white_sunset.jpg")" loading="lazy">
<img title="Swamp Punk" src="@routes.Assets.versioned("images/swamp_punk.jpg")" loading="lazy">
<img title="Taburetka Top Design" src="@routes.Assets.versioned("images/taburetka_top_design.jpg")" loading="lazy">
<img title="Crazy Sunset" src="@routes.Assets.versioned("images/crazy_sunset.jpg")" loading="lazy">
<img title="Here Is The Place" src="@routes.Assets.versioned("images/here_is_the_place.jpg")" loading="lazy">
<img title="Untitled #1" src="@routes.Assets.versioned("images/untitled_nr_1.jpg")" loading="lazy">
<img title="Vietnam 69" src="@routes.Assets.versioned("images/vietnam_69.jpg")" loading="lazy">
}
