@(title: String)

@main(title) {
<h1>@title</h1>
<a href="/paintings/the_holy_trinity_of_infra_reality.jpg"><img title="The Holy Trinity Of Infra Reality" src="@routes.Assets.versioned("images/the_holy_trinity_of_infra_reality.jpg")" loading="lazy"></a>
<a href="/paintings/colour_stripes.jpg"><img title="Colour Stripes" src="@routes.Assets.versioned("images/colour_stripes.jpg")" loading="lazy"></a>
<a href="/paintings/a_door_to_the_sky.jpg"><img title="A Door To The Sky" src="@routes.Assets.versioned("images/a_door_to_the_sky.jpg")" loading="lazy"></a>
<a href="/paintings/a_horse.jpg"><img title="A Horse" src="@routes.Assets.versioned("images/a_horse.jpg")" loading="lazy"></a>
<a href="/paintings/and_the_world_spins.jpg"><img title="And The World Spins" src="@routes.Assets.versioned("images/and_the_world_spins.jpg")" loading="lazy"></a>
<a href="/paintings/green_taiga.jpg"><img title="Green Taiga" src="@routes.Assets.versioned("images/green_taiga.jpg")" loading="lazy"></a>
<a href="/paintings/the_big_bang.jpg"><img title="The Big Bang" src="@routes.Assets.versioned("images/the_big_bang.jpg")" loading="lazy"></a>
<a href="/paintings/flagship_of_the_nations_friendship.jpg"><img title="Flagship Of The Nations Friendship" src="@routes.Assets.versioned("images/flagship_of_the_nations_friendship.jpg")" loading="lazy"></a>
<a href="/paintings/and_something_with_a_big_red_sun.jpg"><img title="And Something With A Big Red Sun" src="@routes.Assets.versioned("images/and_something_with_a_big_red_sun.jpg")" loading="lazy"></a>
<a href="/paintings/9_11.jpg"><img title="9 11" src="@routes.Assets.versioned("images/9_11.jpg")" loading="lazy"></a>
<a href="/paintings/beautiful_and_interesting_map.jpg"><img title="Beautiful And Interesting Map" src="@routes.Assets.versioned("images/beautiful_and_interesting_map.jpg")" loading="lazy"></a>
<a href="/paintings/flag_of_mauritius.jpg"><img title="Flag Of Mauritius" src="@routes.Assets.versioned("images/flag_of_mauritius.jpg")" loading="lazy"></a>
<a href="/paintings/people_are_people.jpg"><img title="People Are People" src="@routes.Assets.versioned("images/people_are_people.jpg")" loading="lazy"></a>
<a href="/paintings/flagship_of_my_kitchen_world.jpg"><img title="Flagship Of My Kitchen World" src="@routes.Assets.versioned("images/flagship_of_my_kitchen_world.jpg")" loading="lazy"></a>
<a href="/paintings/big_black_holes_in_big_blue_sky.jpg"><img title="Big Black Holes In Big Blue Sky" src="@routes.Assets.versioned("images/big_black_holes_in_big_blue_sky.jpg")" loading="lazy"></a>
<a href="/paintings/black_holes_in_blue_sky.jpg"><img title="Black Holes In Blue Sky" src="@routes.Assets.versioned("images/black_holes_in_blue_sky.jpg")" loading="lazy"></a>
<a href="/paintings/sunraysradio_onair.jpg"><img title="Sun Rays Radio On Air" src="@routes.Assets.versioned("images/sunraysradio_onair.jpg")" loading="lazy"></a>
<a href="/paintings/palette_nr_1.jpg"><img title="Palette #1" src="@routes.Assets.versioned("images/palette_nr_1.jpg")" loading="lazy"></a>
<a href="/paintings/upside_down.jpg"><img title="Upside Down" src="@routes.Assets.versioned("images/upside_down.jpg")" loading="lazy"></a>
<a href="/paintings/upside_down_2.jpg"><img title="Upside Down 2" src="@routes.Assets.versioned("images/upside_down_2.jpg")" loading="lazy"></a>
<a href="/paintings/mr_prishvins_river_mountain_valley.jpg"><img title="Mr Prishvin's River Mountain Valley" src="@routes.Assets.versioned("images/mr_prishvins_river_mountain_valley.jpg")" loading="lazy"></a>
<a href="/paintings/sail_away.jpg"><img title="Sail Away" src="@routes.Assets.versioned("images/sail_away.jpg")" loading="lazy"></a>
<a href="/paintings/modern_painting.jpg"><img title="Modern Painting" src="@routes.Assets.versioned("images/modern_painting.jpg")" loading="lazy"></a>
<a href="/paintings/ocean_vibes.jpg"><img title="Ocean Vibes" src="@routes.Assets.versioned("images/ocean_vibes.jpg")" loading="lazy"></a>
<a href="/paintings/funny_face.jpg"><img title="Funny Face" src="@routes.Assets.versioned("images/funny_face.jpg")" loading="lazy"></a>
<a href="/paintings/malevich_feat_kandinsky.jpg"><img title="Malevich feat. Kandinsky" src="@routes.Assets.versioned("images/malevich_feat_kandinsky.jpg")" loading="lazy"></a>
<a href="/paintings/cherepaha_pluha.jpg"><img title="Cherepaha Pluha" src="@routes.Assets.versioned("images/cherepaha_pluha.jpg")" loading="lazy"></a>
<a href="/paintings/sunday_coffee.jpg"><img title="Sunday Coffee" src="@routes.Assets.versioned("images/sunday_coffee.jpg")" loading="lazy"></a>
<a href="/paintings/kurochka_ovechka.jpg"><img title="Kurochka Ovechka" src="@routes.Assets.versioned("images/kurochka_ovechka.jpg")" loading="lazy"></a>
<a href="/paintings/sea_butterfly.jpg"><img title="Sea Butterfly" src="@routes.Assets.versioned("images/sea_butterfly.jpg")" loading="lazy"></a>
<a href="/paintings/sponge_bob_enface.jpg"><img title="Sponge Bob Enface" src="@routes.Assets.versioned("images/sponge_bob_enface.jpg")" loading="lazy"></a>
<a href="/paintings/ryba_ulyba.jpg"><img title="Ryba Ulyba" src="@routes.Assets.versioned("images/ryba_ulyba.jpg")" loading="lazy"></a>
<a href="/paintings/fancy_cosmos.jpg"><img title="Fancy Cosmos" src="@routes.Assets.versioned("images/fancy_cosmos.jpg")" loading="lazy"></a>
<a href="/paintings/flying_hat_unidentified_sombrero.jpg"><img title="Flying Hat Unidentified Sombrero" src="@routes.Assets.versioned("images/flying_hat_unidentified_sombrero.jpg")" loading="lazy"></a>
<a href="/paintings/forest_garden.jpg"><img title="Forest Garden" src="@routes.Assets.versioned("images/forest_garden.jpg")" loading="lazy"></a>
<a href="/paintings/forest_kisses.jpg"><img title="Forest Kisses" src="@routes.Assets.versioned("images/forest_kisses.jpg")" loading="lazy"></a>
<a href="/paintings/free_exit.jpg"><img title="Free Exit" src="@routes.Assets.versioned("images/free_exit.jpg")" loading="lazy"></a>
<a href="/paintings/electric_tensions.jpg"><img title="Electric Tensions" src="@routes.Assets.versioned("images/electric_tensions.jpg")" loading="lazy"></a>
<a href="/paintings/new_planet.jpg"><img title="New Planet" src="@routes.Assets.versioned("images/new_planet.jpg")" loading="lazy"></a>
<a href="/paintings/space_palm_dream.jpg"><img title="Space Palm Dream" src="@routes.Assets.versioned("images/space_palm_dream.jpg")" loading="lazy"></a>
<a href="/paintings/surface_of_the_sun.jpg"><img title="Surface Of The Sun" src="@routes.Assets.versioned("images/surface_of_the_sun.jpg")" loading="lazy"></a>
<a href="/paintings/ocean_path.jpg"><img title="Ocean Path" src="@routes.Assets.versioned("images/ocean_path.jpg")" loading="lazy"></a>
<a href="/paintings/ocean_flower.jpg"><img title="Ocean Flower" src="@routes.Assets.versioned("images/ocean_flower.jpg")" loading="lazy"></a>
<a href="/paintings/green_blue.jpg"><img title="Green Blue" src="@routes.Assets.versioned("images/green_blue.jpg")" loading="lazy"></a>
<a href="/paintings/ocean_galaxy.jpg"><img title="Ocean Galaxy" src="@routes.Assets.versioned("images/ocean_galaxy.jpg")" loading="lazy"></a>
<a href="/paintings/perfect_skyline.jpg"><img title="Perfect Skyline" src="@routes.Assets.versioned("images/perfect_skyline.jpg")" loading="lazy"></a>
<a href="/paintings/red_sea_white_sunset.jpg"><img title="Red Sea White Sunset" src="@routes.Assets.versioned("images/red_sea_white_sunset.jpg")" loading="lazy"></a>
<a href="/paintings/swamp_punk.jpg"><img title="Swamp Punk" src="@routes.Assets.versioned("images/swamp_punk.jpg")" loading="lazy"></a>
<a href="/paintings/taburetka_top_design.jpg"><img title="Taburetka Top Design" src="@routes.Assets.versioned("images/taburetka_top_design.jpg")" loading="lazy"></a>
<a href="/paintings/crazy_sunset.jpg"><img title="Crazy Sunset" src="@routes.Assets.versioned("images/crazy_sunset.jpg")" loading="lazy"></a>
<a href="/paintings/here_is_the_place.jpg"><img title="Here Is The Place" src="@routes.Assets.versioned("images/here_is_the_place.jpg")" loading="lazy"></a>
<a href="/paintings/untitled_nr_1.jpg"><img title="Untitled #1" src="@routes.Assets.versioned("images/untitled_nr_1.jpg")" loading="lazy"></a>
<a href="/paintings/vietnam_69.jpg"><img title="Vietnam 69" src="@routes.Assets.versioned("images/vietnam_69.jpg")" loading="lazy"></a>
}
