@(title: String)

@main(title) {
  <h1>@title</h1>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-poetry-sammlung-1.pdf">Poetry Sammlung 1 / Поэтический сборник номер один</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-lyrics-brochure-2.pdf">Second Lyrics Brochure / Второй Сборник Стихов</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-third-rome-sammlung-3.pdf">Third Rome Sammlung / Третий Римский Сборник</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-calendar-journal-orderly-born.pdf">Calendar Journal of the Day Watchman of the Born / Календарный Журнал Дневального Рожденных</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-vaenka.pdf">Vaenka / Ваенка</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-fuck-this-casino.pdf">Fuck This Casino / Ёбаный Рот Этого Казино</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="biglink" target="_blank" href="/assets/pdfs/anton-galaev-four-by-four-elements-poetry.pdf">4x4 Elements Poetry / Сумбурник Четырёх Стихий</a>
}
